@import url("css/inicio.css");

#profesionales {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#profesionales article {
    width: 350px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

#profesionales img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.valor {
  font-weight: 600;
}

.matricula {
  color: #59be23;
  font-weight: 500;
}

@media (min-width: 481px) {
    /* modificaciones para tablet */

    header {
        justify-content: center;
    }

    .logo {
        text-align: center;
    }
}

@media (min-width: 769px) {
    /* modificaciones para PC */
    
    #profesionales {
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: stretch;
    }
}