@import url("estilos.css");


#profesionales {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}

#profesionales article {
    width: 250px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

#profesionales img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.valor {
  font-weight: 600;
}

.matricula {
  color: #59be23;
  font-weight: 500;
}